body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3, h4 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

article {
    max-width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

caption {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.9em;
    text-align: left;
}

ol, ul {
    margin-bottom: 15px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

section {
    margin-bottom: 30px;
}


.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.image-container {
    flex: 0 0 48%; /* Adjust width as needed */
    margin-bottom: 20px;
}
.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.image-caption {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}